{% load static %}
<header class="header">
	<div class="container-fluid" style="background-color:MistyRose;">
		<div class="row">
			<div class="col">
				<div class="header_content d-flex flex-row align-items-center justify-content-center">
					<div class="header_content_inner d-flex flex-row align-items-center justify-content-start">
						<div class="logo"><a href="/" style="color:red;font-size:60px; align-items:center; justify-content: center;">STATE BANK of KERALA</a></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
								</ul>
							</nav>
					</div>
					</div>
				</div>
			</div>
		</div>
</header>