{% load static %}
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top:150px;">
  <a class="navbar-brand" href="/">HOME</a>
  {% if user.is_authenticated %}
  <h3 class="navbar-brand" style="color:yellow;">hello, {{user.username}}</h3>
  <a class="navbar-brand" href="{% url 'applications:create' %}">APPLICATION FORM</a>
  <a class="navbar-brand" href="{% url 'register:logout' %}">LOGOUT</a>
  {% else %}
    <a class="navbar-brand" href="{% url 'register:register' %}">REGISTER</a>
    <a class="navbar-brand" href="{% url 'register:login' %}">LOGIN</a>
  {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <li class="nav-item dropdown {% if 'applications' in request.path %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BRANCHES
        </a>
            <div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for cat in links %}
                <a class="dropdown-item" href="{{ cat.get_url }}">{{ cat.name }}</a>
            {% endfor %}
            </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  </div>